[gcode_macro LOAD_FILAMENT]
gcode:
	M117 Loading filament into extruder gears
    M83                            ; set extruder to relative
    G1 E30.0 F300                  ; load into extruder gears
    M400                           ; wait until complete until displaying next action
    M117 Filament loading into Hotend
    G4 P1000                       ;Wait 1 second
    G1 E75.0 F300                  ; load into hotend
    M400                           ; wait until complete until displaying next action
    M117 Filament Purge 
    G4 P2000                       ; Wait 2 seconds to heat soak
    G1 E150.0 F600                 ; prime nozzle with filament
    G1 E-5 F600                    ; retract slightly
    M82                            ; set extruder to absolute
    G92 E0.0                       ; reset extruder
    M400                           ; wait until complete until displaying next action
    M117 Filament load complete Resume print when ready
    G4 P4000                    ; wait for 4 seconds before next action 
    M117 ;clear message


[gcode_macro UNLOAD_FILAMENT]
gcode:
    M117 Ready to unload (PETG/Rapido)
    M83                            ; extruder relative

    ; Soften the tip (keep modest for PETG to avoid a big blob)
    G1 E6.0 F300                   ; was E10

    ; Relieve nozzle pressure a touch
    G1 E-2.0 F600

    ; Stage 1: fast pull to clear melt zone / heatbreak (55mm)
    G1 E-55.0 F2400

    M400
    M117 Wait 3 sec for tip to set
    G4 P3000
    M400

    ; Stage 2: gentle pull to finish unload distance (15mm)
    ; Total retract = 55 + 15 = 70mm
    M117 Filament retracting
    G1 E-15.0 F900

    M82                            ; back to absolute
    G92 E0.0
    M400

    M117 Unload complete. Please rethread filament
    G4 P4000
    M117                           ; clear message

[gcode_macro M600]
description: Filament change
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    #G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    #G1 E-50 F1000 ; wtf is this
    RESTORE_GCODE_STATE NAME=M600_state


######################################


